/* #header1
{
    width: 100%;
    margin-left: 5%;
    margin-right: 0%;
} */

#portfolio1
{
    width: 100%;
    margin-left: 5%;
    margin-right: 0%;
}


#picOfjh, #picOfak, #picOfmw, #picOfla, #picmk
{
    /* float:left; */
    /* padding-right: 2%; */
    width: 200px;
    padding-bottom: 1%;
}

#services1
{
    width: 100%;
    margin-left: 2%;
    margin-right: 0%;
}

#stats1
{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

#contact1
{
    width: 100%;
    margin-left: 20%;
    margin-right: 0%;
}

#address1
{
    width: 75%;
    margin-left: 25%;
    margin-right: 0%;
}

#footer1
{
    width: 100%;
    margin-left: 10%;
    margin-right: 0%;
}