 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

       #map {
        height: 80%;
        position: fixed;
        top: 0;
    }

    /* Optional: Makes the sample page fill the window. */

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

    .star-rating s:hover {
        color: red;
    }


    .star-rating s,
        {
        color: black;
        font-size: 70px;
        cursor: default;
        text-decoration: none;
        line-height: 50px;
    }

    .star-rating {
        padding: 2px;
    }

    .star-rating s:hover:before,
    .star-rating s.rated:before {
        content: "\2605";
    }

    .star-rating s:before {
        content: "\2606";
    }

    #places {
       
        
        width: 90%;
        height: 20%;
        overflow: scroll;
        border: none;
    }